* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1rem;
}

.content-container {
  max-width: 1440px;
  margin: 0 auto;
}

header.header-data {
  background-color: #615f5f;
}

header.header-data nav {
  padding: 25px;
}

header.header-data ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

header.header-data ul li {
  font-size: 2rem;
  font-family: 'Roboto-Medium';
  margin-right: 20px;
}

header.header-data ul li a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

header.header-data ul li a:hover:before {
  transform: scaleX(1);
}

header.header-data ul li a:before {
  content: "";
  position: absolute;
  display: block;
  bottom: -4px;
  left: 0;
  height: 3px;
  width: 100%;
  background: #e40041ce;
  transform: scaleX(0);
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
}

.title-block {
  padding: 20px;
  width: 100%;
  background-color: #615f5f;
  color: #ffffff;
  padding-left: 80px;
  margin-bottom: 80px;
}

.content-wrapper {
  padding: 0 80px;
}

.title {
  position: relative;
  width: max-content;
}

.title:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(9deg, #e40041ce, transparent);
  bottom: -5px;
  left: 0;
}

.general-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(95vh - 88px);
}

.general-info .general-info__text p {
  max-width: 40vw;
  margin-bottom: 1rem;
  font-family: 'Roboto-Regular';
  font-size: 1.5rem;
}

.general-info .photo-img {
  width: 310px;
  height: 350px;
  transform: rotate3d(1, 2, 1, -18deg);
  position: relative;
}

.general-info .photo-img:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: #e40041ce;
  top: 0;
  left: 0;
}

.skills {
  margin-bottom: 115px;
}

.skill-list, .education-list {
  list-style: none;
  display: block;
}

.skill-list li, .education-list li {
  display: block;
  position: relative;
  font-size: 2rem;
}

.skill-list li:before, .education-list li:before {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -30px;
  margin-top: -.9em;
  background: #e40041ce;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.skill-list li:not(:last-child), .education-list li:not(:last-child) {
  margin-bottom: 49px;
}

.code, .education {
  margin-bottom: 150px;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.projects-wrapper .progect-item a {
  display: block;
  max-width: 368px;
  height: 337px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.projects-wrapper .progect-item a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  border-radius: 4px;
}

.projects-wrapper .progect-item a:hover {
  cursor: pointer;
}

.projects-wrapper .progect-item a:hover:after {
  opacity: 1;
  transition: opacity .2s linear;
}

.projects-wrapper .progect-item a:hover p {
  display: block;
  font-family: 'Roboto-Medium';
  font-size: 1.3rem;
  color: #e40041ce;
}

.projects-wrapper .progect-item a img {
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.projects-wrapper .progect-item a p {
  position: absolute;
  display: none;
}

.english {
  margin-bottom: 80px;
}

.english-wrapper .title-block {
  margin-bottom: 50px;
}

.english-wrapper p {
  font-size: 1.5rem;
}

.contacts {
  font-size: 1.5rem;
  list-style: none;
}

.contacts li {
  margin-bottom: 15px;
  color: #615f5f;
}

.contacts li a {
  display: inline-block;
  text-decoration: none;
  color: #615f5f;
}

.contacts li a:hover {
  color: #e40041ce;
}

.contacts li label {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 20px;
  color: #111111;
}

.footer {
  background-color: #615f5f;
}
